body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            color: #333;
            text-align: center;
            padding: 50px;
        }
        .card {
            background-color: #fff;
            border: 2px solid #008000;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #b22222;
        }
        p {
            font-size: 18px;
        }
        .background {
            background-image: url("images\christmas image.jpg");
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .family-photo {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            border: 2px solid #008000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin-top: 20px;
        } 
        .text {
            font-size: 24px;
            color: limegreen;
            padding: 10px;
            border: 2px solid #008000;
            margin-top: 20px;
            background-color: #fffacd;
            border-radius: 10px;
        }
        .holidays {
            font-size: 20px;
            color: #8b0000;
        }
        .holidays::after {
            content: " 🎅";
        }
        .holidays::before {
            content: "🎅 ";
        }
        .closing {
            font-size: 18px;
            color: #2f4f4f;
            margin-top: 20px;
            padding: 10px;
            font-family: 'lucida console', cursive;
        }
        .closing::after {
            content: " 🎄";
        }
        .send-button {
            color: yellow;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .new-year{
            font-size: 20px;
            color: #3a6616;
            margin-top: 20px;
            padding: 10px;
            border: 2px solid #fcff32;
            background-color: #fffacd;
            border-radius: 10px;
        }
        .xmas {
            
            border-radius: 10px;
            width: 300px;
            height: 300px;
        }
